In [47]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [78]:
test=pd.read_csv('C:/Users/jason/Python-learning/1208.test.csv',encoding='ISO-8859-1')
train=pd.read_csv('C:/Users/jason/Python-learning/1208.train.csv',encoding='ISO-8859-1')

In [79]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13870 entries, 0 to 13869
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            13870 non-null  int64
 1   listing_url                                   13870 non-null  object
 2   scrape_id                                     13870 non-null  float64
 3   last_scraped                                  13870 non-null  object
 4   source                                        13870 non-null  object
 5   name                                          13865 non-null  object
 6   description                                   13558 non-null  object
 7   neighborhood_overview                         7828 non-null   object
 8   picture_url                                   13870 non-null  object
 9   host_id                                       13870 non-null  int64
 10  host_url                                      13870 non-null  object
 11  host_name                                     13866 non-null  object
 12  host_since                                    13869 non-null  object
 13  host_location                                 11352 non-null  object
 14  host_about                                    7402 non-null   object
 15  host_response_time                            8473 non-null   object
 16  host_response_rate                            8473 non-null   object
 17  host_acceptance_rate                          8934 non-null   object
 18  host_is_superhost                             13866 non-null  object
 19  host_thumbnail_url                            13869 non-null  object
 20  host_picture_url                              13869 non-null  object
 21  host_neighbourhood                            8687 non-null   object
 22  host_listings_count                           13869 non-null  float64
 23  host_total_listings_count                     13869 non-null  float64
 24  host_verifications                            13870 non-null  object
 25  host_has_profile_pic                          13869 non-null  object
 26  host_identity_verified                        13869 non-null  object
 27  neighbourhood                                 7828 non-null   object
 28  neighbourhood_cleansed                        13870 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      13870 non-null  float64
 31  longitude                                     13870 non-null  float64
 32  property_type                                 13870 non-null  object
 33  room_type                                     13870 non-null  object
 34  accommodates                                  13870 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                13848 non-null  object
 37  bedrooms                                      13190 non-null  float64
 38  beds                                          13612 non-null  float64
 39  amenities                                     13870 non-null  object
 40  minimum_nights                                13870 non-null  int64
 41  maximum_nights                                13870 non-null  int64
 42  minimum_minimum_nights                        13870 non-null  int64
 43  maximum_minimum_nights                        13870 non-null  int64
 44  minimum_maximum_nights                        13870 non-null  int64
 45  maximum_maximum_nights                        13870 non-null  int64
 46  minimum_nights_avg_ntm                        13870 non-null  float64
 47  maximum_nights_avg_ntm                        13870 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              13870 non-null  object
 50  availability_30                               13870 non-null  int64
 51  availability_60                               13870 non-null  int64
 52  availability_90                               13870 non-null  int64
 53  availability_365                              13870 non-null  int64
 54  calendar_last_scraped                         13870 non-null  object
 55  number_of_reviews                             13870 non-null  int64
 56  number_of_reviews_ltm                         13870 non-null  int64
 57  number_of_reviews_l30d                        13870 non-null  int64
 58  first_review                                  10413 non-null  object
 59  last_review                                   10413 non-null  object
 60  review_scores_rating                          10413 non-null  float64
 61  review_scores_accuracy                        10204 non-null  float64
 62  review_scores_cleanliness                     10207 non-null  float64
 63  review_scores_checkin                         10199 non-null  float64
 64  review_scores_communication                   10204 non-null  float64
 65  review_scores_location                        10200 non-null  float64
 66  review_scores_value                           10198 non-null  float64
 67  license                                       0 non-null      float64
 68  instant_bookable                              13870 non-null  object
 69  calculated_host_listings_count                13870 non-null  int64
 70  calculated_host_listings_count_entire_homes   13870 non-null  int64
 71  calculated_host_listings_count_private_rooms  13870 non-null  int64
 72  calculated_host_listings_count_shared_rooms   13870 non-null  int64
 73  reviews_per_month                             10413 non-null  float64
dtypes: float64(21), int64(20), object(33)
memory usage: 7.8+ MB

In [80]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55481 entries, 0 to 55480
Data columns (total 76 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    55481 non-null  int64
 1   id                                            55481 non-null  float64
 2   listing_url                                   55481 non-null  object
 3   scrape_id                                     55481 non-null  float64
 4   last_scraped                                  55481 non-null  object
 5   source                                        55481 non-null  object
 6   name                                          55464 non-null  object
 7   description                                   54273 non-null  object
 8   neighborhood_overview                         32136 non-null  object
 9   picture_url                                   55481 non-null  object
 10  host_id                                       55481 non-null  int64
 11  host_url                                      55481 non-null  object
 12  host_name                                     55466 non-null  object
 13  host_since                                    55477 non-null  object
 14  host_location                                 45632 non-null  object
 15  host_about                                    29544 non-null  object
 16  host_response_time                            34357 non-null  object
 17  host_response_rate                            34357 non-null  object
 18  host_acceptance_rate                          36156 non-null  object
 19  host_is_superhost                             55466 non-null  object
 20  host_thumbnail_url                            55477 non-null  object
 21  host_picture_url                              55477 non-null  object
 22  host_neighbourhood                            34910 non-null  object
 23  host_listings_count                           55477 non-null  float64
 24  host_total_listings_count                     55477 non-null  float64
 25  host_verifications                            55481 non-null  object
 26  host_has_profile_pic                          55477 non-null  object
 27  host_identity_verified                        55477 non-null  object
 28  neighbourhood                                 32137 non-null  object
 29  neighbourhood_cleansed                        55481 non-null  object
 30  neighbourhood_group_cleansed                  0 non-null      float64
 31  latitude                                      55481 non-null  float64
 32  longitude                                     55481 non-null  float64
 33  property_type                                 55481 non-null  object
 34  room_type                                     55481 non-null  object
 35  accommodates                                  55481 non-null  int64
 36  bathrooms                                     0 non-null      float64
 37  bathrooms_text                                55372 non-null  object
 38  bedrooms                                      52732 non-null  float64
 39  beds                                          54539 non-null  float64
 40  amenities                                     55481 non-null  object
 41  price                                         55481 non-null  float64
 42  minimum_nights                                55481 non-null  int64
 43  maximum_nights                                55481 non-null  int64
 44  minimum_minimum_nights                        55478 non-null  float64
 45  maximum_minimum_nights                        55478 non-null  float64
 46  minimum_maximum_nights                        55478 non-null  float64
 47  maximum_maximum_nights                        55478 non-null  float64
 48  minimum_nights_avg_ntm                        55478 non-null  float64
 49  maximum_nights_avg_ntm                        55478 non-null  float64
 50  calendar_updated                              0 non-null      float64
 51  has_availability                              55481 non-null  object
 52  availability_30                               55481 non-null  int64
 53  availability_60                               55481 non-null  int64
 54  availability_90                               55481 non-null  int64
 55  availability_365                              55481 non-null  int64
 56  calendar_last_scraped                         55481 non-null  object
 57  number_of_reviews                             55481 non-null  int64
 58  number_of_reviews_ltm                         55481 non-null  int64
 59  number_of_reviews_l30d                        55481 non-null  int64
 60  first_review                                  42158 non-null  object
 61  last_review                                   42158 non-null  object
 62  review_scores_rating                          42158 non-null  float64
 63  review_scores_accuracy                        41345 non-null  float64
 64  review_scores_cleanliness                     41355 non-null  float64
 65  review_scores_checkin                         41316 non-null  float64
 66  review_scores_communication                   41344 non-null  float64
 67  review_scores_location                        41317 non-null  float64
 68  review_scores_value                           41316 non-null  float64
 69  license                                       0 non-null      float64
 70  instant_bookable                              55481 non-null  object
 71  calculated_host_listings_count                55481 non-null  int64
 72  calculated_host_listings_count_entire_homes   55481 non-null  int64
 73  calculated_host_listings_count_private_rooms  55481 non-null  int64
 74  calculated_host_listings_count_shared_rooms   55481 non-null  int64
 75  reviews_per_month                             42158 non-null  float64
dtypes: float64(27), int64(16), object(33)
memory usage: 32.2+ MB

In [81]:
train['id']=train['id'].astype(str)
test['id']=test['id'].astype(str)

In [82]:
train.describe(include=['object'])

,id,listing_url,last_scraped,source,name,description,neighborhood_overview,picture_url,host_url,host_name,...,neighbourhood_cleansed,property_type,room_type,bathrooms_text,amenities,has_availability,calendar_last_scraped,first_review,last_review,instant_bookable
count,55481,55481,55481,55481,55464,54273,32136,55481,55481,55466,...,55481,55481,55481,55372,55481,55481,55481,42158,42158,55481
unique,54597,55481,3,2,53827,51295,26927,54287,37482,11461,...,33,93,4,43,48513,2,3,3534,2653,2
top,7.01891e+17,https://www.airbnb.com/rooms/16309539,2022/9/11,city scrape,¿â¯Very Nice Room Near Red Cross Garden Park¯â,Enjoy a stylish experience at this centrally-l...,The residence is ideally situated south of the...,https://a0.muscache.com/pictures/3a2cfe22-8bae...,https://www.airbnb.com/users/show/33889201,James,...,Westminster,Entire rental unit,Entire home/apt,1 bath,"[""Long term stays allowed""]",t,2022/9/11,2022/7/3,2022/9/4,f
freq,10,1,39358,30983,92,99,144,21,226,413,...,6205,18254,33037,23945,200,55286,39359,146,1004,34404

In [83]:
print(train['beds'].value_counts())
print(train['bedrooms'].value_counts())
print(train['property_type'].value_counts())
print(train['room_type'].value_counts())
print(train['accommodates'].value_counts())

1.0     31298
2.0     13272
3.0      5423
4.0      2575
5.0      1036
6.0       511
7.0       174
8.0       114
9.0        48
10.0       41
11.0       13
16.0        6
12.0        5
15.0        5
14.0        5
13.0        4
24.0        2
18.0        2
26.0        1
38.0        1
20.0        1
28.0        1
21.0        1
Name: beds, dtype: int64
1.0     35380
2.0     11237
3.0      3942
4.0      1540
5.0       468
6.0       107
7.0        25
8.0        12
9.0         6
10.0        5
12.0        4
50.0        3
16.0        2
22.0        1
Name: bedrooms, dtype: int64
Entire rental unit             18254
Private room in rental unit     9705
Entire condo                    6969
Private room in home            6792
Entire home                     4305
                               ...
Tower                              1
Private room in floor              1
Bus                                1
Private room in castle             1
Shared room in hotel               1
Name: property_type, Length: 93, dtype: int64
Entire home/apt    33037
Private room       21926
Shared room          318
Hotel room           200
Name: room_type, dtype: int64
2     23797
4     10785
1      7613
3      4024
6      3860
5      2591
8      1112
7       820
10      340
9       241
12      109
16       74
11       36
14       32
13       25
15       17
0         5
Name: accommodates, dtype: int64

In [136]:
train1=train[['id','price','host_response_rate','host_acceptance_rate','neighbourhood_cleansed','accommodates','property_type','room_type','beds','bedrooms']]
test1=test[['id','neighbourhood_cleansed','accommodates','beds','bedrooms']]
train1=train1.dropna()
train1.info()
#test1=test1.dropna()
test1=test1.fillna(0)
test1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31415 entries, 0 to 55479
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      31415 non-null  object
 1   price                   31415 non-null  float64
 2   host_response_rate      31415 non-null  object
 3   host_acceptance_rate    31415 non-null  object
 4   neighbourhood_cleansed  31415 non-null  object
 5   accommodates            31415 non-null  int64
 6   property_type           31415 non-null  object
 7   room_type               31415 non-null  object
 8   beds                    31415 non-null  float64
 9   bedrooms                31415 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 2.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13870 entries, 0 to 13869
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      13870 non-null  object
 1   neighbourhood_cleansed  13870 non-null  object
 2   accommodates            13870 non-null  int64
 3   beds                    13870 non-null  float64
 4   bedrooms                13870 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 541.9+ KB

In [116]:
train1.corr()

                 price  accommodates      beds  bedrooms
price         1.000000      0.265866  0.221225  0.251011
accommodates  0.265866      1.000000  0.831567  0.760175
beds          0.221225      0.831567  1.000000  0.711709
bedrooms      0.251011      0.760175  0.711709  1.000000

In [137]:
train1_x=train1[['accommodates','beds','bedrooms']]
train1_y=train1[['price']]
test1_x=test1[['accommodates','beds','bedrooms']]

In [122]:
test1.describe()

       accommodates          beds      bedrooms
count  13870.000000  13612.000000  13190.000000
mean       3.072603      1.770056      1.499014
std        1.945428      1.239763      0.873598
min        1.000000      1.000000      1.000000
25%        2.000000      1.000000      1.000000
50%        2.000000      1.000000      1.000000
75%        4.000000      2.000000      2.000000
max       16.000000     21.000000     16.000000

In [138]:
ml=linear_model.LinearRegression()
ml.fit(train1_x,train1_y)

LinearRegression()

In [139]:
test1_y_prd = ml.predict(test1_x)
res=pd.DataFrame(test1_y_prd)
res['id'] = test['id']
res = res.rename(columns = {0:'price'}) 
res.head()

        price id
0  109.701245  1
1  150.318964  2
2  150.318964  3
3  150.318964  4
4  181.295781  5

In [140]:
res= res[["id","price"]]
res['price'] = res['price'].fillna(0)
res

          id       price
0          1  109.701245
1          2  150.318964
2          3  150.318964
3          4  150.318964
4          5  181.295781
...      ...         ...
13865  13866  271.819992
13866  13867  100.412472
13867  13868  190.936683
13868  13869  109.701245
13869  13870  190.936683

[13870 rows x 2 columns]

In [142]:
res.to_csv('C:/Users/jason/Python-learning/price1.csv', index=True)